* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-header{
    background-color: rgb(131, 199, 238);
    padding: 0;
    margin: 0;
}

.link {
    border: 2px dashed black;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.item-header {
    border: 2px dashed black;
    padding: 1%;
    margin: 0 15%;
    background-color: yellow;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.item-header-1 {
    border: 2px dashed black;
    padding: 1%;
}

/*.item-header-2 {
    border: 2px dashed black;
}*/

.container-1 {
    padding: 2%;
    background-color: rgb(3, 3, 134);
}

.item-1 {
    border: 2px dashed black;
    padding: 10%;
    margin: 1.5% 25%;
    background-color: rgb(250, 131, 151);
}

.container-2 {
    padding: 2%;
    background-color: white;
    /*font-size: 0;*/
    display: flex;
    /*align-items: center;*/
}

.item-2-1 {
    border: 2px dashed black;
    padding: 10%;
    margin: 1.5% 0 1.5% 20%;
    background-color: rgb(44, 138, 245);
    display: inline-block;
    flex: 3;
}

.item-2-2 {
    border: 2px dashed black;
    padding: 10%;
    margin: 1.5% 20% 1.5% 0;
    background-color: pink;
    display: inline-block;
    flex: 1;
}

.container-3 {
    padding: 2%;
    background-color: lightgray;
    /*font-size: 0;*/
    display: flex;
    /*align-items: center;*/
}

.item-3-1 {
    border: 2px dashed black;
    padding: 10%;
    margin: 1.5% 0 1.5% 20%;
    background-color: pink;
    display: inline-block;
    flex: 1;
}

.item-3-2 {
    border: 2px dashed black;
    padding: 10%;
    margin: 1.5% 20% 1.5% 0;
    background-color: rgb(44, 138, 245);
    display: inline-block;
    flex: 3;
}

.container-4 {
    padding: 2%;
    background-color: white;
    /*font-size: 0;*/
    display: flex;
    /*align-items: center;*/
}

.item-4-1 {
    border: 2px dashed black;
    padding: 10%;
    margin: 1.5% 0 1.5% 20%;
    background-color: rgb(44, 138, 245);
    display: inline-block;
    flex: 3;
}

.item-4-2 {
    border: 2px dashed black;
    padding: 10%;
    margin: 1.5% 20% 1.5% 0;
    background-color: pink;
    display: inline-block;
    flex: 1;
}

.container-5 {
    padding: 2%;
    background-color: lightgray;
}

.item-5 {
    border: 2px dashed black;
    padding: 20%;
    margin: 1.5% 20%;
    background-color: green;
}

.container-6 {
    padding: 2%;
    background-color: rgb(29, 25, 25);
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container-6-2 {
    border: 2px dashed black;
    display: flex;
    height: 90%;
    padding: 15%;
    margin: 0;
    width: 60%;
    justify-content: center;
    align-items: stretch;
}

.column-1 {
    flex: 2;
    border: 2px dashed black;
    padding: 15%;
    width: 40%;
    margin: 0;
    background-color: rgb(245, 88, 135);
}

.column-2 {
    flex: 1;
    height: 100%;
    border: 2px dashed white;
    padding: 15%;
    width: 20%;
    margin: 0;
    background-color: rgb(4, 122, 103);
}